@import '../../../variables';

.info-sub-div {
  width: 100% !important;
  @media(max-width: $tabletBreakpoint) {
  }
}

.info-content-div {
  padding: 2em;
  max-width: 80em;
  border-radius: 40px !important;
  margin-bottom: 4em;

  @media (max-width: $tabletBreakpoint) {
    width: 90vw;
    padding: 1em 0;
    margin-bottom: 2em;
  }
}

.info-text {
  font-family: $nunito-sans;
  font-size:$regular-text-size;
  max-width: 60em;
  white-space: pre-line;
  vertical-align: bottom;

  @media (max-width: $tabletBreakpoint) {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
  }
}
